@import url('https://fonts.googleapis.com/css?family=Aldrich&display=swap');


* {
  box-sizing: border-box;
}
body {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.controls a, .times-controls a {
  font-size: 22px;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.stopwatch {
  width: 250px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: grey;
  font-family: 'Aldrich', sans-serif;
  color: orange;
  margin: 1vh auto;
  font-size: 40px;
}